# Final Project #

## Requirement
This notebook requires a virtual environment that includes packages for Python 3.9 and Jupyter.

This notebook is included in a PyCharm project. It makes use of Python code within the PyCharm project directory.

## Overview
This notebook should run the workflow that includes all of the exercises in this Final Project. This notebook should include complete documentation for the Final Project workflow. This includes the following sections:
1. Title
2. Requirements
3. Overview
4. Select and Summarize (U.S./ U.K. / France)
5. Join Country Summaries
6. Create Company-Wide Expense Summary Report

## Select and Summarize

### Parameter

In [8]:
target_year = 2020
target_category = 'Fuel'
data_directory = 'data'

### U.S.

In [10]:
from us_select_and_summarize import do_us_select_and_summarize
input_filename = 'us_expense_records.txt'
output_filename = 'us_summarized_target_expenses.txt'
do_us_select_and_summarize(target_year, target_category,data_directory,input_filename,output_filename)

20,001 lines were read from us_expense_records.txt.
749 qualifying expense records were accumulated.


U.S. OPERATIONS
SUMMARY OF FUEL EXPENSES FOR 2020

Month    Amount (USD)
    1      72,742.79
    2      45,758.93
    3      64,399.68
    4      58,308.71
    5      61,662.60
    6      70,589.85
    7      59,945.88
    8      69,182.55
    9      73,945.30
   10      69,162.65
   11      62,375.22
   12      83,871.87


Summary file was created as us_summarized_target_expenses.txt.

### U.K.

In [11]:
from uk_select_and_summarize import do_uk_select_and_summarize
input_filename = 'uk_expense_records.txt'
output_filename = 'uk_summarized_target_expenses.txt'
do_uk_select_and_summarize(target_year, target_category,data_directory,input_filename,output_filename)

6,667 lines were read from uk_expense_records.txt.
217 qualifying expense records were accumulated.


U.K. OPERATIONS
SUMMARY OF FUEL EXPENSES FOR 2020

Month    Amount (USD)
    1      16,083.88
    2      24,874.43
    3      19,376.45
    4      19,591.66
    5      20,596.45
    6      17,399.42
    7      22,621.51
    8      23,754.80
    9      11,856.29
   10      12,775.92
   11      22,577.32
   12      17,280.50


Summary file was created as uk_summarized_target_expenses.txt.

### France

In [12]:
from fr_select_and_summarize import do_fr_select_and_summarize
input_filename = 'fr_expense_records.txt'
output_filename = 'fr_summarized_target_expenses.txt'
do_fr_select_and_summarize(target_year, target_category,data_directory,input_filename,output_filename)

5,001 lines were read from fr_expense_records.txt.
191 qualifying expense records were accumulated.


FRENCH OPERATIONS
SUMMARY OF FUEL EXPENSES FOR 2020

Month    Amount (USD)
    1      14,365.95
    2      14,354.80
    3      16,059.11
    4      17,538.96
    5      12,199.59
    6      14,119.40
    7      24,520.53
    8      13,556.39
    9      16,615.88
   10      16,768.71
   11      17,964.19
   12      18,998.29


Summary file was created as fr_summarized_target_expenses.txt.

## Join Country Summaries

In [13]:
us_input_filename = 'us_summarized_target_expenses.txt'
uk_input_filename = 'uk_summarized_target_expenses.txt'
fr_input_filename = 'fr_summarized_target_expenses.txt'
output_filename = 'joined_summarized_target_expenses.txt'

In [14]:
from join_selected_summarized_expenses import do_join_selected_summarized_expenses
do_join_selected_summarized_expenses(data_directory, us_input_filename, uk_input_filename,fr_input_filename, output_filename)

12 joined expense summary records were written to joined_summarized_target_expenses.txt.

## Create Company-Wide Expense Summary Report

### Regular Version

In [15]:
import create_companywide_expense_summary_report as cr
expense, category, year = cr.get_expense()

sorted(expense, key=cr.by_month)
cr.print_report(expense, 'BY MONTH', category, year)

expense.sort(key=cr.by_total_amount, reverse=True)
cr.print_report(expense, 'BY DESCENDING TOTAL AMOUNT', category, year)

Please enter input file name: joined_summarized_target_expenses.txt


                       COMBINED OPERATIONS
            SUMMARY OF FUEL EXPENSE AMOUNTS FOR 2020
                            BY MONTH

 Month      US Amount      UK Amount      FR Amount   Total Amount
                (USD)          (USD)          (USD)          (USD)
     1      72,742.79      16,083.88      14,365.95     103,192.62
     2      45,758.93      24,874.43      14,354.80      84,988.16
     3      64,399.68      19,376.45      16,059.11      99,835.24
     4      58,308.71      19,591.66      17,538.96      95,439.33
     5      61,662.60      20,596.45      12,199.59      94,458.64
     6      70,589.85      17,399.42      14,119.40     102,108.67
     7      59,945.88      22,621.51      24,520.53     107,087.92
     8      69,182.55      23,754.80      13,556.39     106,493.74
     9      73,945.30      11,856.29      16,615.88     102,417.47
    10      69,162.65      12,775.92      16,768.71      98,707.28
    11      62,375.22      22,577.32      17,964.19     102,916.73
    12      83,871.87      17,280.50      18,998.29     120,150.66
 Total     791,946.03     228,788.63     197,061.80   1,217,796.46


                       COMBINED OPERATIONS
            SUMMARY OF FUEL EXPENSE AMOUNTS FOR 2020
                   BY DESCENDING TOTAL AMOUNT

 Month      US Amount      UK Amount      FR Amount   Total Amount
                (USD)          (USD)          (USD)          (USD)
    12      83,871.87      17,280.50      18,998.29     120,150.66
     7      59,945.88      22,621.51      24,520.53     107,087.92
     8      69,182.55      23,754.80      13,556.39     106,493.74
     1      72,742.79      16,083.88      14,365.95     103,192.62
    11      62,375.22      22,577.32      17,964.19     102,916.73
     9      73,945.30      11,856.29      16,615.88     102,417.47
     6      70,589.85      17,399.42      14,119.40     102,108.67
     3      64,399.68      19,376.45      16,059.11      99,835.24
    10      69,162.65      12,775.92      16,768.71      98,707.28
     4      58,308.71      19,591.66      17,538.96      95,439.33
     5      61,662.60      20,596.45      12,199.59      94,458.64
     2      45,758.93      24,874.43      14,354.80      84,988.16
 Total     791,946.03     228,788.63     197,061.80   1,217,796.46

AttributeError: module 'create_companywide_expense_summary_report' has no attribute 'get_expense'